.theos/fakeroot
.theos/last_package
.theos/packages/com.developersbliss.cchide-1.1
cchide.xcworkspace/contents.xcworkspacedata
cchide.xcworkspace/xcshareddata/cchide.xccheckout
cchide.xcworkspace/xcuserdata/Daniel.xcuserdatad/UserInterfaceState (Daniel James's conflicted copy 2014-01-19).xcuserstate
cchide.xcworkspace/xcuserdata/Daniel.xcuserdatad/UserInterfaceState.xcuserstate
